# 读取数据

In [163]:
import pandas as pd
import numpy as np
from tqdm import tqdm

base_path = '/home/liyouru/.ipython/profile_myserver/dataset/KDD_Cup2018/'
bp_bj_meo = base_path + 'bj_meo_gen/'
bp_ld_meo = base_path + 'ld_meo_gen/'
bp_bj_aq_split = base_path + 'bj_aq_split/'
bp_ld_aq_split = base_path + 'ld_aq_split/'

p_bj_aq1 = base_path + 'beijing_17_18_aq_full.csv'
p_bj_aq2 = base_path + 'beijing_201802_201803_aq_full.csv'
p_bj_aq3 = base_path + 'daily_data/bj_aq/m_04_58.csv'
p_bj_stp = base_path + 'bj_station_position.csv'

p_ld_aq1 = base_path + 'London_17_18_aq_full.csv'
p_ld_aq2 = base_path + 'daily_data/ld_aq/m_04_58.csv'
p_ld_stp = base_path + 'london_station_position.csv'

# df_bj_aq1 = pd.read_csv(p_bj_aq1)
# df_bj_aq2 = pd.read_csv(p_bj_aq2)
df_bj_aq3 = pd.read_csv(p_bj_aq3)
df_bj_stp = pd.read_csv(p_bj_stp)

# df_ld_aq1 = pd.read_csv(p_ld_aq1)
df_ld_aq2 = pd.read_csv(p_ld_aq2)
df_ld_stp = pd.read_csv(p_ld_stp)

# df_bj_aq = df_bj_aq1.append(df_bj_aq2)
# df_bj_aq = df_bj_aq.append(df_bj_aq3)
df_bj_aq = df_bj_aq3
del df_bj_aq['Unnamed: 0']
print df_bj_aq.shape
df_bj_aq.tail()

(45955, 8)

,stationId,utc_time,PM2.5,PM10,NO2,CO,O3,SO2
45950,qianmen_aq,2018-05-28 23:00:00,20.0,20.0,76.0,0.5,13.0,2.0
45951,yongdingmennei_aq,2018-05-28 23:00:00,18.0,75.0,83.0,0.7,4.0,5.0
45952,xizhimenbei_aq,2018-05-28 23:00:00,14.0,41.0,81.0,0.4,9.0,3.0
45953,nansanhuan_aq,2018-05-28 23:00:00,20.0,145.0,86.0,0.7,2.0,9.0
45954,dongsihuan_aq,2018-05-28 23:00:00,45.0,101.0,92.0,0.7,2.0,12.0

In [164]:
del df_ld_aq2['Unnamed: 0']
df_ld_aq2.columns = ['station_id','MeasurementDateGMT','PM2.5 (ug/m3)','PM10 (ug/m3)','NO2 (ug/m3)']
# df_ld_aq = df_ld_aq1.append(df_ld_aq2)
df_ld_aq = df_ld_aq2
# del df_ld_aq['Unnamed: 0']
print df_ld_aq.shape
df_ld_aq.tail()

(18035, 5)

,station_id,MeasurementDateGMT,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3)
18030,MY7,2018-05-28 19:00:00,26.7,34.2,39.6
18031,MY7,2018-05-28 20:00:00,23.7,27.6,32.5
18032,MY7,2018-05-28 21:00:00,23.3,27.3,36.7
18033,MY7,2018-05-28 22:00:00,23.1,25.4,31.0
18034,MY7,2018-05-28 23:00:00,28.9,27.9,23.7

# 按观测点划分北京空气质量数据

In [165]:
stationId = list(df_bj_stp['stationId'])

bj_aq_split = []
bj_aq = df_bj_aq.groupby(["stationId"])

for i in range(35):
    bj_aq_split.append(bj_aq.get_group(stationId[i]))

for i in tqdm(range(35)):
    bj_aq_split[i].to_csv(bp_bj_aq_split + 's_bj_17_18_aq_split_' + str(stationId[i].split('_aq')[0]) + '.csv')

100%|██████████| 35/35 [00:00<00:00, 178.99it/s]

# 按观测点划分伦敦空气质量数据

In [166]:
station_Id = list(df_ld_stp['Station_id'])

ld_aq_split = []
ld_aq = df_ld_aq.groupby(["station_id"])

for i in range(13):
    ld_aq_split.append(ld_aq.get_group(station_Id[i]))

for i in tqdm(range(13)):
    ld_aq_split[i].to_csv(bp_ld_aq_split + 's_ld_17_18_aq_split_' + str(station_Id[i]) + '.csv')

100%|██████████| 13/13 [00:00<00:00, 299.94it/s]